.vagrant
src/static
src/static/*
*.py[cod]
*.pyc
*/__pycache__
/.vagrant/
virtualenvs/
virtualenvs/*
deploy/node_modules/
*.swp
db.sqlite3
env
.sass-cache
*~
*.pyc
*.DS_Store
src/static/
src/static
src/static/*
src/media/
src/media
src/media/*
*/src/.idea/*
src/.idea
src/.idea/*
.idea
.idea/*
src/media
*.pyc
