{% extends './layout.html' %}

{% block content %}

<div class="products-container">
	<table>
	    {% for product in product_list %}
	    	<tr>
	    		<td>
			        <a href="{% url 'product_details' product.pk %}">
			            {{ product.productName }}
			        </a>
			    </td>  
			    <td>  
			        <a href="{% url 'add_item' user.cart.pk product.pk %}">
			            Buy
			        </a>
			    </td>	    
			</tr>    	
	    {% endfor %}
	</table>    
</div>
<div>
	<a href="{% url 'shopping_cart' user.cart.pk %}">View cart</a>
</div>	
{% endblock %}