{% extends './layout.html' %}

{% block content %}
<div class="product-sort">
     <a class="button-negative" href="{% url 'index' 'M' %}">
            Male
     </a>
    <a class="button-negative" href="{% url 'index' 'F' %}">
            Female
     </a>
    <a class="button-negative" href="{{ BASE_URL }}/">
            All
     </a>
</div>

<div class="products-container">
    {% for tup in tuplu %}
        <div class="product-container">
            <a href="{% url 'product_details' tup.0.pk %}">
                <img src="media/{{ tup.1.source }}"/>
            </a>

            <div class="product-details">
                    <a href="{% url 'product_details' tup.0.pk %}" class="product-title">{{ tup.0.productName }}</a>
                {% if user.is_authenticated %}
                <a class="button-negative product-buy" href="{% url 'add_item' user.get_shopping_active.pk tup.0.pk %}">
    		            Buy / {{ tup.0.price }} $
 			        </a>
                {% endif %}
             </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
