<html>
<head>
    <title>iShop</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<header class="main-header">
    <div class="content-container">
        {% block head %}
            <a href="/" class="header-logo">
                <h1>iShop</h1>
            </a>
            <div class="header-right">
                {% if user.is_authenticated %}
                    <a class="button-positive cart-button" href="{% url 'shopping_cart' user.get_shopping_active.pk %}">View
                        cart &nbsp;&nbsp;&nbsp;<span>{{ user.get_shopping_active.getNrOrders }}</span></a>
                    <a class="button-positive cart-button" href="{% url 'shopping_history' user.pk %}">View
                         history </a>
                    <a class="button-negative" href="{{ BASE_URL }}/logout" style=" margin: 0 4px;"> Log out </a>
                {% else %}
                     <a class="button-negative login-button" href="{{ BASE_URL }}/register"> Sign Up </a>
                    <a class="button-negative login-button" href="{{ BASE_URL }}/login"> Log in </a>
                {% endif %}
            </div>
        {% endblock %}
    </div>
</header>
<div class="page-container">
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer>
    © iTeam 2017
</footer>
</body>
</html>
