{% extends './layout.html' %}


{% block content %}

    <div class="product-image-container">
        <img src="{{ BASE_URL }}/media/{{ images.first.source }}"/>
    </div>
    <div class="product-details-container">
        <div class="product-name">
            <p>{{ product.productName }}</p>
            <a class="button-positive" href="
            {% if user.is_authenticated %}
            {% url 'add_item' user.get_shopping_active.pk product.pk %}
            {% else %}
            {% url 'login' %}
            {% endif %}
            ">
                Add to Cart
            </a>
        </div>
        <div class="product-detail">
            <span>Description</span><br>
            {% if product.description != "" %}
                {{ product.description }}
            {% else %}
                -
            {% endif %}
        </div>
        <div class="product-detail">
            <span>Gender</span><br>
            {{ product.gender }}
        </div>
        <div class="product-detail">
            <span>Price</span><br>
            {{ product.price }} $
        </div>
        <div class="product-detail" style="margin: 0 -1.6%;">
            {% for image in images %}
                <div class="product-img">
                    <a href="{{ BASE_URL }}/media/{{ image.source }}">
                        <img src="{{ BASE_URL }}/media/{{ image.source }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="write-comment">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form_comment.as_p }}
                    <input type="submit" value="Submit" class="button-positive"/>
                </form>
            </div>
        {% else %}
            <div class="write-comment">
                <p>You need to login to comment</p>
            </div>
        {% endif %}
    </div>
    <div class="product-comments">
        {% if comments %}
            <div class="comments-title"><h2>Comments</h2></div>
            {% for comment in comments %}
                <div class="product-comment">
                    <p>{{ comment.date }} - </p>
                    <p>&nbsp;{{ comment.author.firstName }} {{ comment.author.lastName }}:</p>
                    <p>{{ comment.text }}</p>
                </div>
            {% endfor %}
        {% else %}

        {% endif %}
    </div>
    </div>

{% endblock %}