{% extends './layout.html' %}

{% block content %}

<h2> Shopping cart </h2>

<table class="cart-table">
    <tr>
        <td></td>
        <td>Name</td>
        <td class="num-cell">Quantity</td>
        <td class="num-cell">Price</td>
        <td></td>
    </tr>
{% if tuplu %}
    {% for tup in tuplu %}
	<tr>
        <td>
            <div class="order-product-img">
                <img src="{{ BASE_URL }}/media/{{ tup.1.source }}"/>
            </div>
        </td>
		<td>
            <a class="link" href="{% url 'product_details' tup.0.product.pk %}" class="product-title">{{ tup.0.product.productName }}</a>
        </td>
		<td class="num-cell">{{tup.0.quantity}}</td>
        <td class="num-cell">{% widthratio tup.0.quantity 1 tup.0.product.price %}</td>
		<td>
            <a href="{% url 'remove_item' tup.0.pk %}" class="link-del">Remove item</a>
        </td>
	</tr>
    {% endfor %}
{% else %}
    <tr>
        <td></td>
        <td>No products in your cart.</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% endif %}

</table>

{% endblock %}